
node {
	size: 10px, 15px;
	shape: circle;
	fill-color: black;
	stroke-mode: plain;
	text-alignment:under;
}

node.Input{
	fill-color:red;
	shape: box;
}

node.Data{
	fill-color:blue;
	shape:triangle;
}

node.COUNT{
	fill-color:green;
}